@model List<Transaction>

<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h2>WalesBank Customers Deposit List</h2>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <a asp-controller="Account" asp-action="AdminDashBoard" class="btn  btn-primary " role=" button">Back To Dashboard</a>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Account Number</th>
                        <th>Amount Deposited</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model)
                    {
                        <tr>
                            <td>@transaction.Account.AccountName</td>
                            <td>@transaction.Account.Number</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.Description</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
