@model Account

<div class="container-fluid">
    <div class="row col-md-12">
        <div class="">
            <span>Hi @Model.AccountName,</span>
        </div>

        <div class="">
            <span>Your Account number is @Model.Number and your balance is:</span>
        </div>

        <div class="">
            <span>@Model.Balance NGN</span>
        </div>
    </div>
</div>
