@model CustomerUser

<style>
    /* Custom CSS to set the height of columns and their parent to 100% */
    .rows {
        height: 100vh; /* Set the row's height to 100% of the viewport height */
    }

    .col-2, .col-10 {
        height: 100%; /* Set the columns' height to 100% of their parent's height */
    }

    .sidebetweenbars{
        margin-right: 20px;
    }

    .hyperlinkremove{
        text-decoration: none;
    }

    .moveright{
        margin-right: 50px;
    }
</style>
<div class="container-fluid">
    <div class="row rows ">
        <!-- Dashboard Content -->
       
         <div class="col-2 bg-dark text-white">
                <!-- Sidebar/Menu -->
                <ul class="list-unstyled">
                    <li class=" active mt-4"><a class="hyperlinkremove" id="dashboard-link">Dashboard</a></li>
                        <li class="text-muted  mt-5">
                            TRANSACTION
                                 <ul class="list-unstyled">
                        <li class="mt-3 active text-white "><a class="transfer-link  hyperlinkremove" asp-area="CustomerSection" asp-controller="CustomerUser" asp-action="TransferMoney" asp-route-id="@ViewBag.UserId">Transfer Money</a></li>
                        <li class="mt-3 active text-white"><a class="transfer-link  hyperlinkremove" asp-area="CustomerSection" asp-controller="CustomerUser" asp-action="Balance" asp-route-id="@ViewBag.UserId">Check Balance</a></li>
                        <li class="mt-3 active text-white"><a class="transfer-link  hyperlinkremove" asp-area="CustomerSection" asp-controller="CustomerUser" asp-action="Statement" asp-route-id="@ViewBag.UserId">Statement</a></li>
                                </ul>
                        </li>
                    <li class="text-muted  mt-5">
                        ACCOUNT

                    <ul class="list-unstyled">
                        @* <li class="mt-3 active text-white">
                            <a asp-area="Identity" asp-page="/Account/ProfileEdit" asp-route-id="@ViewBag.UserId">Profile</a>
                                </li> *@
                            </ul>
                    </li>
                    
                </ul>
         </div>


        <div class="col-10" id="dashboard-content">
            
        </div>
    </div>
</div>
