@page "{accountNumber:int}"
@model Wales_Online_Bank.Areas.Identity.Pages.Account.AccountNumberModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account Number</title>
</head>
<body>
    <h2>Your Account Number:</h2>
    <p>@Model.AccountNumber</p>
</body>
</html> 
