

<div class="text-center">
    <h1 class="display-2">Welcome to Wales Online Bank</h1>
    <p>Proceed below to Explore our Services</p>
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Proceed to Login</a>
</div>
